@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.heroContainer{
    background-image: url('../../images/hero.jpg');
    color: #fff;
    padding: 2rem;
    text-align: center;
    height: 70vh;
    background-size: cover;
    background-position: center;    
}
.heroContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.heading{
    font-size: 4rem;
    font-weight: 700;
    color: #F1C418;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
}